.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.register-form{
    border: 1px solid gray;
    padding: 30px;
    border-radius: 20px;
    width: 400px;
}

.button{
    margin-left: 20px;
    width: 150px;
}